//==========================================================================================================================================================
// Colors
$color-main-white: #fff;
$color-main-black: #000;
$color-main-grey: #6f6d7b;
$color-main-blue-light: #42a9ed;
$color-main-blue: #3e9cdc;
$color-main-bg: #272733;
