//==========================================================================================================================================================
// Colors
$color-main-white: #fff;
$color-main-white-muted: rgba(255, 255, 255, 0.85);
$color-main-black: #000;
$color-main-light-black: #272733;
$color-main-grey: #6f6d7b;
$color-main-light-blue: #42a9ed;
$color-main-blue: #3e9cdc;
$color-main-blue-dark: #286690;
$color-main-bg: #272733;
$color-main-bg-light: #3a3c4c;
$color-main-light-grey: #bbb;
$color-main-light-grey-second: #c4c4c4;
