@use '../base/mixins' as *;
@use '../utils/variables' as *;

.main-banner {
	position: relative;
	padding: 203px 0;
	min-height: 850px;
	// min-height: 100vh;
	// .main-banner__bg
	&__bg {
	}
	// .main-banner__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__img-small {
		display: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .main-banner__container
	&__container {
		position: relative;
		z-index: 10;
	}
	// .main-banner__inner
	&__inner {
		// max-width: 70%;
		max-width: 780px;
	}
	// .main-banner__title
	&__title {
		font-weight: 700;
		font-size: rem(48);
		line-height: normal;
		text-transform: uppercase;
		color: $color-main-black;
		margin-bottom: 80px;
	}
	// .main-banner__content
	&__content {
		margin-bottom: 80px;
	}
	// .main-banner__list-ttitle
	&__list-ttitle {
		font-weight: 700;
		font-size: rem(20);
		line-height: 1;
		color: $color-main-black;
		margin-bottom: 10px;
	}
	// .main-banner__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}
	// .main-banner__list-item
	&__list-item {
		font-size: rem(20);
		line-height: 1;
		color: $color-main-black;
	}
	// .main-banner__buttons
	&__buttons {
		display: flex;
		column-gap: 30px;
	}
	// .main-banner__btn
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 10px;
		max-width: 183px;
		min-width: 183px;
		width: 100%;
		height: 43px;
		font-size: rem(13);
		line-height: normal;
		text-transform: uppercase;
		text-align: center;
		border-radius: 4px;
		cursor: pointer;
		transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
		&:hover {
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
		}
		&:active {
			transform: translateY(2px);
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
		}
	}
}

.main-banner--animated {
	.main-banner__title,
	.main-banner__content,
	.main-banner__buttons {
		animation-name: fade-in;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(25%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

//==========================================================================================================================================================
// Адаптив
@media only screen and (max-width: 1199.98px) {
	.main-banner {
		&__title {
			font-size: rem(42);
			margin-bottom: 60px;
			br {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 991.98px) {
	.main-banner {
		&__title {
			font-size: rem(38);
		}
	}
}

@media only screen and (max-width: 767.98px) {
	.main-banner {
		padding: 140px 0;
		min-height: unset;

		&__title {
			font-size: rem(38);
			margin-bottom: 30px;
		}
		&__content {
			margin-bottom: 30px;
		}
		&__list-ttitle {
			font-size: rem(18);
		}
		&__list-item {
			font-size: rem(18);
		}
	}
}

@media (max-width: 575.98px) {
	.main-banner {
		&__img {
			display: none;
		}
		&__img-small {
			display: block;
		}
		&__title {
			font-size: rem(32);
		}
		&__buttons {
			flex-direction: column;
			row-gap: 15px;
		}
		&__btn {
			max-width: 100%;
		}
	}
}
