@use '../base/mixins' as *;
@use '../utils/variables' as *;

.header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 100px;
	background-color: rgba(16, 16, 29, 0.9);
	z-index: 20;
	// .header__container
	&__container {
		height: 100%;
	}
	// .header__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	// .header__logo
	&__logo {
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: rem(28);
		text-transform: uppercase;
	}
	// .header__logo-link
	&__logo-link {
	}
	// .header__logo--blue
	&__logo--blue {
		color: $color-main-light-blue;
	}
	// .header__menu
	&__menu {
		display: flex;
		column-gap: 60px;
		padding-top: 8px;
		font-weight: 600;
		font-size: rem(13);
		text-transform: uppercase;
	}
	// .header__menu-item
	&__menu-item {
		position: relative;
		transition: 0.3s ease-in-out;
		&:hover {
			color: $color-main-light-blue;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 110%;
			height: 3px;
			background-color: $color-main-light-blue;
			transform: translateX(-5%);
			opacity: 0;
			// width: 0%;
			transition: 0.4s ease-in-out;
		}
		&.active::before {
			opacity: 1;
			// width: 110%;
		}
	}
	// .header__burger
	&__burger {
		display: none;
		// display: flex;
		// flex-direction: column;
		// row-gap: 5px;
		padding: 10px;
		margin-right: -10px;
		cursor: pointer;
	}
	// .header__burger-line
	&__burger-line {
		display: block;
		width: 30px;
		height: 3px;
		// margin-left: auto;
		background-color: $color-main-white;
	}
}
